@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
}

:root{
    --font-primaria :'Montserrat', sans-serif;
    --cor--background: linear-gradient(13deg, rgba(0, 0, 0, 1) 39%, rgba(0, 43, 128, 1) 100%);
    --cor-primaria: #110066;
    --cor-secundaria : #ffffff;
    --cor-terciaria: #919191;
}

body {
    background: linear-gradient(13deg, rgba(0, 0, 0, 1) 39%, rgba(0, 43, 128, 1) 100%);
    min-height: 100vh;
    font-family: var(--font-primaria);
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 100vw;
}

p{
    max-width: 50rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    font-family: var(--font-primaria);
    font-weight: 500;
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primaria);
    color: var(--cor-secundaria);
    font-size: 18px;
    font-weight: 500;
    gap: 3rem;
    margin: 0 5rem;
    align-self: baseline;
}

.header_option{
    text-decoration: none;
    color: var(--cor-secundaria);
    height:100%;
    padding: 2rem 0;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.conteudo{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.titulo{
    margin: 3rem 0;
    font-size: 40px;
}
.objeto_indisponivel{
    margin: 5rem;
}
.texto_introducao{
    width: 35rem;
    text-align: justify;
}